*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: rgb(212, 212, 212); */
}

body {
  background: #222 url('../img/swapi_bg.jpg') center center/cover no-repeat;
}

main {
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.3);
}

.starships {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: auto;
  gap: 1rem;
}

.starships-card {
  width: 32%;
  min-height: 350px;
  padding: 1rem;
  background: rgb(50, 50, 50);
  background: linear-gradient(
    55deg,
    rgba(50, 50, 50, 0.85) 0%,
    rgba(42, 42, 42, 0.85) 46%,
    rgba(0, 0, 0, 0.85) 100%
  );
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 4px 4px 5px rgb(0, 0, 0);
}

.starships-card p {
  margin: 0.5rem 0;
  font-weight: 600;
  color: white;
}

h3 {
  font-weight: 400;
  color: rgb(159, 159, 159);
  font-size: 1.5rem;
}
